body {
  background-color: blueviolet;
}

h1, p {
  text-align: center;

}

h1 {
  margin-top: 150px;
  font-size: 50px;
}

p {
  font-size: 30px;
}

.man {
  width: 500px !important;
  height: 400px !important;
  padding-top: 20px;
  font-size: 140%;
  font-weight: bold;
}